@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser
@{
    ViewBag.Title = "Update User Roles";
    var Roles = ViewBag.Roles as IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>;
}
<div class="card">
    <div class="card-header bg-info d-flex justify-content-between align-items-center">
        <h5 class="card-title text-light">User Roles (User Email : @Model.Email)</h5>
        <div><a href="@Url.Action("Users", "Roles", new { Area = "SuperAdmin" })" class="btn btn-light" title="Back to Users List"><i class="fas fa-arrow-left"></i> Back</a></div>
    </div>
    <ul class="list-group">
        @foreach (var role in Roles)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center border-info">
                <div>
                    @role.Name
                    @if (Model.Roles.Any(r => r.RoleId == role.Id))
                    {
                        <span class="badge badge-primary badge-pill">Member</span>
                    }
                </div>
                <div>
                    @if (Model.Roles.Any(r => r.RoleId == role.Id))
                    {
                        <a class="btn btn-outline-danger" title="Remove user from this Role" href="/superadmin/roles/@role.Id/remove/@Model.Id?from=userupdate">Remove</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-primary" title="Add user to this Role" href="/superadmin/roles/@role.Id/add/@Model.Id?from=userupdate">Add</a>
                    }
                </div>
            </li>
        }
    </ul>
</div>